<div id="wrapper">
<div id="appointment_dashboard" class="animate form">
<h1>New Appointment</h1>

<%= render 'form', appointment: @appointment %>

<%= link_to 'Back', appointments_path %>
</div>
</div>